/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', serif;
}

.jumbotron {
	text-align: center;
	background-image: url('../images/Lallan_updated.jpg');
	color: white;
}

ul.nav {
	font-size: 13px;
}

footer {
	background-color: #f74c3c;
	padding-top: 150px;
	padding-bottom: 15px;
	color: white;
	font-family: 'Arvo', serif;
	font-weight: 100;
	font-size: 30px;

}

#wishes-from {
	background-color: #f5f5f5;
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0px 50px;
}

.btn-lg {
	font-size: 36px;
}

.homepage {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.homepage h2, .homepage h3 {
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	color: #e74c3c;
}

.homepage h2 {
	font-size: 30px;
}

.homepage h3 {
	font-size: 26px;
}

.homepage p {
	font-weight: 300;
	font-size: 21px;
}

.homepage a {
	color: #e74c3c;
}

.homepage a:hover {
	color: #e74c3c;
	opacity: .8;
	text-decoration: none;
}

.homepage hr {
	border-color: #e74c3c;
	width: 160px;
	margin-top: 15px;
}
